body {
    background-color: #353535;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px dashed transparent;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/images/APG_4964_origin.png);
    background-position: center;
    background-clip: content-box;
    padding: 8px;
}

.circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 10px); 
    width: calc(100% + 10px); 
    border: 8px dashed #00e4b2;
    top: -13px;
    left: -13px;
    border-radius: inherit;
  }

.circle:before {
    animation: spin 20s linear infinite;
  }
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
  }